<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmogestion</title>
</head>
<body>
    <form action="" name="fcontact" onsubmit="processContactForm (event)" target="_self" method="get">
        
        <label for="fnames">Names</label>
        <input type="text" id="fnames">
        <label for="fsurname">Last Name</label>
        <input type="text" id="fsurname">


        <label for="fphone">Phone Number</label>
        <input type="text" id="fphone">
        <label for="femail">Mail</label>
        <input type="text" id="femail">
        <label for="fcity">City</label>
        <input type="text" id="fcity">
        <label for="fcountry">Country</label>
        <input type="text" id="fcountry">

        <button style="border-radius: 8px" type="submit">Guardar</button>
    </form>

    <script src="../js/contact.js"></script>
</body>
</html>